:root {
  --base-color: #f3f3f3;
  --accent-color1: #7092a8;
  --accent-color2: #bcc1c5;
  --accent-color3: #c0b5ad;
  --accent-color4: #ddd6cf;
  --main-text-color: #3f4650;
  --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
body {
  font-family: "Archivo Narrow", sans-serif;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
h1 {
  font-size: 96px;
  font-weight: 800;
  font-family: "Ultra", serif;
}
h2 {
  font-size: 48px;
  font-weight: 600;
}
h3 {
  font-size: 25px;
  opacity: 0.7;
}
h4 {
  font-size: 40px;
  font-weight: 800;
  font-family: "Ultra", serif;
}
a {
  color: var(--accent-color1);
}
p {
  font-size: 18px;
  line-height: 1.5;
}
nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin: 25px;
}

nav a {
  text-decoration: none;
  color: var(--main-text-color);
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--accent-color3);
}

.logo {
  max-height: 60px;
  max-width: 60px;
}
.aboutpic img {
  margin: 45px 30px;
  border-radius: 20px;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
}

.content h4 {
  font-size: 24px;
  line-height: 1.5;
}
.content {
  margin: 30px;
}
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.navigation-links {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.navigation-links a {
  margin: 20px;
}
.primary-link {
  border-radius: 10px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--accent-color1);
  color: #ffffff;
  box-shadow: var(--box-shadow);
}

.email-link {
  display: flex;
  justify-content: center;
  font-size: 20px;
}
.paragraphs {
  display: flex;
  margin: 30px 0;
}
.paragraphs p {
  margin: 10px;
}
.about-paragraph {
  margin: 20px;
}
.btn-branding {
  background: var(--accent-color1);
  border-radius: 4px;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 25px;
}

.btn-branding:hover {
  color: var(--main-text-color);
}
footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--base-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .social-links a {
  margin: 0 25px;
  color: var(--main-text-color);
  padding: 12px 14px;
  border-radius: 50%;
  font-size: 25px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: var(--base-color);
  background: var(--main-text-color);
}
@media (max-width: 600px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 38px;
    text-align: center;
  }
  h3 {
    margin: 5px;
  }
  .container {
    max-width: 540px;
  }
  .primary-link {
    display: block;
    margin: 0 10px;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
